@media (max-width: 1400px) {
    .since{
        .since-left{
            h1{
                font-size: 35px;
                width: 470px;
                line-height: 55px;
            }

            p{
                width: 470px;

            }

            .since-bottom{
                gap: 15px;
            }
        }
    }
}

@media (max-width: 948px) {
    .since{
        position: relative;
        top: 250px;
    }

    .treding{
        margin-top: 300px;

        .treding-top{
            h1{
                width: 430px;
                font-size: 35px;
                margin: auto;
            }

            p{
                width: 370px;
                margin: auto;
            }
        }

        .treding-wrapper{
            img {
                width: 450px;
                height: 350px;
                margin: auto;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 1315px) {
    .head{

        .head-wrapper{
            h1{
                font-size: 35px;
                width: 765px;
            }

            p{
                width: 765px;
            }
        }
        .head-bottom{
            margin: 50px auto;
            width: auto;
            height: 230px;

            .some{
                justify-content: center;
                gap: 105px;
                width: 750px;
                margin: auto;
            }

            .some-wrapper{
                width: 850px;
                justify-content: center;
                gap: 45px;
            }
            
       }
       }

       .tours{
        height: auto;
        .tours-wrapper{
            .tours-bottom{
                justify-content: center;
                margin: auto;
            }
            .tours-top{
                text-align: center;
                flex-direction: column;
                gap: 15px;
                justify-content: center;
                margin: auto;

               .tours-l{
                h1{
                    width: 370px;
                    font-size: 38px;
                    margin: auto;
                }
                p{
                    width: 470px;
                    font-size: 20px;
                    margin: auto;
                }
               }

               .tours-r{
                width: 750px;
                margin: auto;
               }
            }
       }
}

.forest{
    .forest-right{
        .top-img1 img{
            width: 340px;

        }
        h1{
            font-size: 35px;
            line-height: 45px;
            width: 350px;
        }

        p{
            width: 350px;

        }
    }
}

.special{
    padding-top: 420px;
    width: 622px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    display: block;

    .special-left{
        margin: auto;
    }

    .special-right{
        margin: auto;
    }

    .special-right img{
        width: 612px;
        margin: auto;
    }
}

.since{
    padding-top: 250px;
    flex-direction: column;

    .since-left{
        text-align: center;
        margin: auto;

        button{
            margin: auto;
        }

        h1{
            text-align: center;
            margin:15px auto;
        }
        p{
            text-align: center;
            margin:15px auto;
        }

        .since-bottom{
            margin-left: -200px;
            gap: 15px;

            .since-card{

                h1{
                    text-align: center;
                    margin: auto;
                }
                p{
                    text-align: center;
                    margin: auto;
                    padding-left: 200px;
                }
            }
        }
    }


    .since-right{
        margin: auto;
        margin-top: 100px;
    }
}

.trip{
    .trip-top{
        .trip-l{
            h1{
                text-align: center;
                font-size: 25px;
                line-height: 45px;
                width: 470px;
                margin: auto;
            }

            p{
                width: 470px;
                margin: auto;
            }
        }
    }
}

footer{
    margin-top: 450px;
}
}

@media (max-width: 1024px) {
    .head{

     .head-bottom{

      .some-wrapper{
        width: 750px;

        .some-card{
            h4{
                font-size: 14px;
                text-align: center;
            }
        }
    }
}
    
}

.forest{
    flex-direction: column;
    justify-content: center;

    .forest-right{
        margin: auto;
        text-align: center;
    }

    .forest-left{
        margin: auto;


    }
}

.cat-top{
    margin-top: 100px;
    justify-content: center;
    gap: 45px;

    .cat-left{
        h1{
            margin: auto;
            text-align: center;
            width: 470px;
            font-size: 35px;
        }
    }
}

.mountain{
    margin-top: 100px;
    justify-content: center;
    gap: 45px;
}

.customer{
    .main-image{
        display: none;
    }
    .info{
        flex-direction: column;


    }
}

}

@media (max-width: 768px) {
    .head{

        .head-wrapper{
            h1{
                font-size: 25px;
                width: 550px;
                line-height: 45px;
            }
            p{
                font-size: 20px;
                width: 570px;
                line-height: 25px;
            }
        }

        .head-bottom{
            .some{
                width: 600px;
                gap: 10px;
            }
            .some-wrapper{
                width: 600px;
                gap: 25px;
                .some-card{
                    h4{
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .searched .searched-top{
        h1{
            font-size: 30px;
            width: 460px;
        }

        p{
            width: 470px;
        }
    }

    .tours{
        .tours-wrapper{
            .tours-top{
                .tours-r{
                    width: 550px;
                }
            }

            .tours-bottom{
                margin-top: 100px;
            }
        }
    }

    .forest{
        .forest-left{
            margin: auto;

            img{
                margin: auto;
            }
        }
    }

    .cat-top{
        margin-top: 100px;
        justify-content: center;
        gap: 45px;
        flex-direction: column;
    
        .cat-left{
            h1{
                margin: auto;
                text-align: center;
                width: 470px;
                font-size: 35px;
            }

            p{
                text-align: center;
                margin: auto;
            }
        }

        button{
            width: 80%;
            height: 50px;
            margin: auto;
        }
    }

    .special{
        position: relative;
        top: 100px;
        .special-left{
            width: 480px;
            padding-top: 20px;

        }

        .special-right img{
            width: 480px;
        }
    }

    .since{
        .since-right{
            display: flex;
            flex-direction: column;
            gap: 45px;
        }
    }

    .customer{
    flex-direction: column;

    }
}

@media (max-width: 591px){
.footer{
margin-top: 350px;
}
}

@media (max-width: 616px) {
    .special{
        position: relative;
        top: 1150px;
    }

    .since{
        position: relative;
        top: 1300px;
    }

    .treding{
        position: relative;
        top: 1090px;
    }

    .customer{
        position: relative;
        top: 1150px;
    }

    .card-container{
        position: relative;
        top: 1200px;
    }


    .footer{
        position: relative;
        top: 1300px;
    }

    .trip .trip-top .trip-l{
        position: relative;
        top: 1200px;

        h1{
            text-align: center;
            margin: auto;
        }

        p{
            margin: auto;
            text-align: center;
        }
    }
}

@media (max-width: 600px) {
    .head{

        .head-wrapper{
          h1{
            width: 470px;
            font-size: 25px;
          }  
          p{
            width: 470px;
            font-size: 18px;
          }  
        }
        .head-bottom{
            margin: 10px auto;
            margin-top: 50px;
            height: 300px;
            .some{
                width: 470px;
                gap: 5px;

                .some-r{
                    display: none;
                }
            }

            .some-wrapper{
                flex-wrap: wrap;
                width: 470px;
            border: none;

            }
        }
    }

    .searched{
        margin-top: 250px;
    }

    .tours{
        .tours-wrapper{
            .tours-top{

                .tours-l{
                    p{
                        width: 370px;
                    }
                }
                .tours-r{
                    width: 450px;
                    button{
                        margin: 15px;
                    }
                }
            }

            .tours-bottom{
                margin-top: 100px;

                .tourse-card {
                    width: 370px;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media (max-width: 480px) {
    .head{
        .head-wrapper{
            h1{
                margin-top: 10px;
                width: 370px;
                line-height: 40px;
            }
            p{
                margin-top: 10px;
                width: 370px;
                line-height: 30px;
            }
        }

        .head-bottom{
            height: 400px;
            .some{
                width: 370px;
                .some-l{
                    ul{
                        gap: 5px;
                    }
                }
                
            }

            .some-wrapper{
                width: 370px;
            }
        }
    }

    .searched{
        margin-top: 350px;

        .searched-top{
            h1{
                width: 370px;
                font-size: 25px;
                line-height: 40px;
            }
            p{
                font-size: 17px;
                width: 370px;
            }
        }
    }

    .tours{
        .tours-wrapper{
            .tours-top{
                .tours-r{
                    width: 370px;
                }
            }
        }
    }

    .cat-top{
        .cat-left{
            h1{
                width: 370px;
                font-size: 25px;
                line-height: 35px;
            }
            p{
                width: 370px;
                font-size: 18px;
                line-height: 35px;
            }
        }
    }

    .since{
        .since-left{
            h1{
                width: 370px;
                font-size: 20px;
            }

            p{
                width: 370px;
                font-size: 16px;
            }
        }

        .since-right{
            margin-top: -30px;
        }
    }

    .trip{
        .trip-top{
            .trip-l{
                width: 370px;
                p{
                    font-size: 17px;
                }
            }
        }


    }


    .trip .trip-top .trip-l h1{
        width: 370px;
        font-size: 20px;
        line-height: 35px;

    }

    .trip .trip-top .trip-l p{
        width: 370px;
        font-size: 16px;
    }

    .treding .treding-wrapper .image1{
        display: none;
    }

    .treding .treding-top h1{
        width: 370px;
        font-size: 25px;
    }
}
    